
:root {
        --brand-color-main: #212121;
        --brand-color-text: #757575;
        --brand-color-focus: #2196f3;
        --brand-background-color: #2f303a;
        --brand-secondery-background:#F5F4FA;
        --main-white: #ffffff ;
    }

 a {
    text-decoration: none;
}

 ul {
     list-style-type: none;
 }

 button {
      cursor: pointer;
  }

 body {
     background-color: var(--main-white);
     font-family: 'Roboto';
 }

 /* header */

 .logo-link {
    color: var(--brand-color-focus);
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
}

 .sec-logo {
    color: #212121;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
}

 .header-nav {
    color: var(--brand-color-main);
}

.header-nav:hover{
    color: var(--brand-color-focus);
}

.header-nav:focus {
    color: var(--brand-color-focus);
}

.header-nav-portfolio{
    color: var(--brand-color-focus);
}

.header-nav-portfolio:hover {
    color: var(--brand-color-focus);
}

.header-nav-portfolio:focus{
    color: var(--brand-color-focus);
}


 .header-info {
    color: var(--brand-color-text);
}

/* hero */
.hero {
    background-color: #2F303A;
}

.hero-tittle {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--main-white);
}

.button-hero{
    background-color:var(--brand-color-focus);
    color: var(--main-white);
}

/* about us */

.sec-tittle {
    color: var(--brand-color-main) ;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.sec-paragraph {
    color: var(--brand-color-text);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}

/* about us img */
 
.tittle-about-us-img{
    color: var(--brand-color-main)
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}

/* team */

.team{
    background-color: var(--brand-secondery-background);
}

.our-team{
 color: var(--brand-color-main);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-member{
    color: var(--brand-color-main);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
}

.member-description {
    color: var(--brand-color-text) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
 /* footer */

 .footer{
    background-color: var(--brand-background-color);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
 }

.sec-logo-footer{
color: var(--main-white);
}

 .address{
    color: var(--main-white);
 }

 .footer-info{
    color: rgba(255, 255, 255, 0.6);
 }

 /* portfolio */

 .portfolio-button{
    background-color: var(--brand-secondery-background);
    color: var(--brand-color-main);
    border-radius: 4px;
 }
 .portfolio-button:hover{
    background-color: var(--brand-color-focus);
    color: var(--main-white);
 }
 .portfolio-button:focus{
    background-color: var(--brand-color-focus);
    color: var(--main-white);}